name: ML Training Workflow

on:
  push:
    branches:
      - main

jobs:
  train-model:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout code
      uses: actions/checkout@v3

    - name: Setup Python
      uses: actions/setup-python@v4
      with:
        python-version: 3.9

    - name: Install dependencies directly
      run: |
        python -m pip install --upgrade pip
        pip install scikit-learn joblib

    - name: Run training script
      run: |
        python first.py
